.title{
    padding: 20px;
}

.contact{
    padding-top:1rem;
    padding-bottom:10rem;
    
}

.contact-wrapper{
    display:flex;
    justify-content: center;
    height: 0%;
}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
     width: 70rem; 
}

.contact-form h3{
    font-size: 2rem;
    color:var(--main-color);
    margin-bottom: 1rem;

}

.contact-form .field-box{
    display:flex;
    flex-wrap: wrap;
    gap:1rem;

}

.contact-form .field-box input,
.contact-form .field-box textarea{
    flex:1 1 30rem;
    padding:0.5rem;
    background:var(--third-bg-color);
    border-radius:.6rem;
    font-size: 1.6rem;
    color: var(--white-color);
}

.contact-form .field-box textarea{
    height: 15rem;
    resize: none;   
}

.contact-form .contact-btn{
    margin-top: 2rem;
   
}

.contact-form .contact-btn .btn{
    cursor:pointer;
background-color: aqua;

}

 